:root {
	--page-color: #2B2D42;
	--text-color: #EDF2F4;
	--light-text: #5C5F6F;
	--border-color: #8C909B;
	--emphasized-body: #011627;
	--title-color: #1E90FF;
	--header-color: #679436;
	--subheader-color: #EF233C;
	--menu-color: #FFA400;
	--highlight-color: #FC440F;
	--link-color: #53F4FF;
}

/* Body and main element settings */
body {
    font-family: verdana;
    background-color: var(--page-color);
    color: var(--text-color);
    margin: 0;
	padding: 0;
}

header {
	padding-top: 10px;
	background-color: var(--emphasized-body);
	position: sticky;
	top: 0;
	width: 100%;
}

main {
	margin: 0px auto;
	width: 70%;
}

footer {
	width: 100%;
	background-color: var(--emphasized-body);
	color: var(--light-text);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Other element settings */
h1 {
    color: var(--title-color);
    text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
}

h2 {
    color: var(--header-color);
    text-align: center;
}

h3 {
	color: var(--subheader-color);
}

p {
	text-align: justify;
}

a {
    color: var(--link-color);
}

table {
	background-color: var(--emphasized-body);
	border: 1px solid var(--border-color);
}

th,td {
	border: 1px solid var(--border-color);
	padding: 5px;
}

/* Player bios on /tgmr */
div.bios {
	display: flex;
}

div.bios ul {
	width: 50%;
	padding: 0;
}

div.bios ul li {
	margin-bottom: 1em;
	padding-left: 0;
	margin-left: 40px;
}

div.bios ul li img {
	height: 350px;
}

/* Setup footer lists */
footer ul {
	margin: 20px 50px;
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
}

/* First item in footer lists */
footer ul li:first-child {
	color: var(--subheader-color);
    font-size: 1.17em;
	margin-bottom: 1em;
    font-weight: bold;
}

/* Create parallax effect */
.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Put parallax images here */
div.imgMinecraft {
	min-height: 500px;
	background-image: url("assets/minecraft.jpg");
}

/* Commonly used classes */
.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.leftBlock {
	float: left;
}

.centerBlock {
	margin: auto;
}

.rightBlock {
	float: right;
}

.indent {
	text-indent: 40px;
}

.errorImg {
	height: 160px;
}

.fit {
	width: fit-content;
}

/* Buttons */
.button {
	display: block;
	padding: 1em 1em;
	text-decoration: none;
	background-color: var(--menu-color);
	color: var(--emphasized-body);
	border: 1px solid var(--border-color);
	margin: 1em 40px;
	flex-grow: 1;
	width: 100%;
	cursor: pointer;
}

div.buttonContainer {
	display: flex;
	justify-content: space-between;
}

/* Menu bar positions */

/* Menu bar container */
 ul.MenuBarHorizontal {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
}

/* Menu item containers */
ul.MenuBarHorizontal li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: calc(100% / 7);
	float: left;
}

/* Menu settings (invisible) */
ul.MenuBarHorizontal ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 100%;
	position: absolute;
	left: -1000em;
}

/* Visible menu */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible {
	left: auto;
}

/* Make submenus same width as parent */
ul.MenuBarHorizontal ul li {
	width: 100%;
}

/* Keep submenus inline */
ul.MenuBarHorizontal ul ul {
	position: absolute;
	margin: 0 0 0 -100%;
}

/* Visible submenu */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible {
	left: auto;
	top: 0;
}

/* Menu bar design */

/* Menu bar normal */
ul.MenuBarHorizontal a {
	display: block;
	cursor: pointer;
	background-color: var(--menu-color);
	padding: 0.5em 0.75em;
	color: var(--emphasized-body);
	text-decoration: none;
	border: 1px solid var(--border-color);
}

/* Menu bar hover */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus {
	background-color: var(--highlight-color);
}

/* Submenu hover */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible {
	background-color: var(--highlight-color);
}